<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunhomo.enroll.mapper.SunBattleDao">
  <resultMap id="BaseResultMap" type="com.sunhomo.enroll.domain.SunBattle">
    <id column="BATTLE_ID" jdbcType="INTEGER" property="battleId" />
    <result column="ACTIVITY_ID" jdbcType="INTEGER" property="activityId" />
    <result column="A1" jdbcType="INTEGER" property="a1" />
    <result column="A2" jdbcType="INTEGER" property="a2" />
    <result column="B1" jdbcType="INTEGER" property="b1" />
    <result column="B2" jdbcType="INTEGER" property="b2" />
    <result column="BATTLE_DATE" jdbcType="DATE" property="battleDate" />
    <result column="BATTLE_POINT" jdbcType="INTEGER" property="battlePoint" />
    <result column="BATTLE_STATE" jdbcType="INTEGER" property="battleState" />
    <result column="BATTLE_RESULT" jdbcType="TINYINT" property="battleResult" />
  </resultMap>
  <sql id="Base_Column_List">
    BATTLE_ID, ACTIVITY_ID, A1, A2, B1, B2, BATTLE_DATE, BATTLE_POINT, BATTLE_STATE, 
    BATTLE_RESULT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SUN_BATTLE
    where BATTLE_ID = #{battleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SUN_BATTLE
    where BATTLE_ID = #{battleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="BATTLE_ID" keyProperty="battleId" parameterType="com.sunhomo.enroll.domain.SunBattle" useGeneratedKeys="true">
    insert into SUN_BATTLE (ACTIVITY_ID, A1, A2, 
      B1, B2, BATTLE_DATE, BATTLE_POINT, 
      BATTLE_STATE, BATTLE_RESULT)
    values (#{activityId,jdbcType=INTEGER}, #{a1,jdbcType=INTEGER}, #{a2,jdbcType=INTEGER}, 
      #{b1,jdbcType=INTEGER}, #{b2,jdbcType=INTEGER}, #{battleDate,jdbcType=DATE}, #{battlePoint,jdbcType=INTEGER}, 
      #{battleState,jdbcType=INTEGER}, #{battleResult,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="BATTLE_ID" keyProperty="battleId" parameterType="com.sunhomo.enroll.domain.SunBattle" useGeneratedKeys="true">
    insert into SUN_BATTLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        ACTIVITY_ID,
      </if>
      <if test="a1 != null">
        A1,
      </if>
      <if test="a2 != null">
        A2,
      </if>
      <if test="b1 != null">
        B1,
      </if>
      <if test="b2 != null">
        B2,
      </if>
      <if test="battleDate != null">
        BATTLE_DATE,
      </if>
      <if test="battlePoint != null">
        BATTLE_POINT,
      </if>
      <if test="battleState != null">
        BATTLE_STATE,
      </if>
      <if test="battleResult != null">
        BATTLE_RESULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="a1 != null">
        #{a1,jdbcType=INTEGER},
      </if>
      <if test="a2 != null">
        #{a2,jdbcType=INTEGER},
      </if>
      <if test="b1 != null">
        #{b1,jdbcType=INTEGER},
      </if>
      <if test="b2 != null">
        #{b2,jdbcType=INTEGER},
      </if>
      <if test="battleDate != null">
        #{battleDate,jdbcType=DATE},
      </if>
      <if test="battlePoint != null">
        #{battlePoint,jdbcType=INTEGER},
      </if>
      <if test="battleState != null">
        #{battleState,jdbcType=INTEGER},
      </if>
      <if test="battleResult != null">
        #{battleResult,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunhomo.enroll.domain.SunBattle">
    update SUN_BATTLE
    <set>
      <if test="activityId != null">
        ACTIVITY_ID = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="a1 != null">
        A1 = #{a1,jdbcType=INTEGER},
      </if>
      <if test="a2 != null">
        A2 = #{a2,jdbcType=INTEGER},
      </if>
      <if test="b1 != null">
        B1 = #{b1,jdbcType=INTEGER},
      </if>
      <if test="b2 != null">
        B2 = #{b2,jdbcType=INTEGER},
      </if>
      <if test="battleDate != null">
        BATTLE_DATE = #{battleDate,jdbcType=DATE},
      </if>
      <if test="battlePoint != null">
        BATTLE_POINT = #{battlePoint,jdbcType=INTEGER},
      </if>
      <if test="battleState != null">
        BATTLE_STATE = #{battleState,jdbcType=INTEGER},
      </if>
      <if test="battleResult != null">
        BATTLE_RESULT = #{battleResult,jdbcType=TINYINT},
      </if>
    </set>
    where BATTLE_ID = #{battleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunhomo.enroll.domain.SunBattle">
    update SUN_BATTLE
    set ACTIVITY_ID = #{activityId,jdbcType=INTEGER},
      A1 = #{a1,jdbcType=INTEGER},
      A2 = #{a2,jdbcType=INTEGER},
      B1 = #{b1,jdbcType=INTEGER},
      B2 = #{b2,jdbcType=INTEGER},
      BATTLE_DATE = #{battleDate,jdbcType=DATE},
      BATTLE_POINT = #{battlePoint,jdbcType=INTEGER},
      BATTLE_STATE = #{battleState,jdbcType=INTEGER},
      BATTLE_RESULT = #{battleResult,jdbcType=TINYINT}
    where BATTLE_ID = #{battleId,jdbcType=INTEGER}
  </update>
</mapper>