<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sunhomo.club.mapper.SunDivisionDao">
    <resultMap id="BaseResultMap" type="cn.sunhomo.club.domain.SunDivision">
        <id column="DIVISION_ID" jdbcType="INTEGER" property="divisionId"/>
        <result column="ACTIVITY_ID" jdbcType="INTEGER" property="activityId"/>
        <result column="DIVISION_NAME" jdbcType="VARCHAR" property="divisionName"/>
        <result column="LEADER" jdbcType="INTEGER" property="leader"/>
        <result column="LEADER_NAME" jdbcType="VARCHAR" property="leaderName"/>
        <result column="RANK" jdbcType="TINYINT" property="rank"/>
        <collection property="members" ofType="cn.sunhomo.club.domain.SunMember" column="DIVISION_ID"
                    select="cn.sunhomo.club.mapper.SunMemberDao.selectMembersByDivisionId"></collection>
    </resultMap>
    <sql id="Base_Column_List">
    DIVISION_ID, ACTIVITY_ID, DIVISION_NAME, LEADER, LEADER_NAME, `RANK`
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SUN_DIVISION
        where DIVISION_ID = #{divisionId,jdbcType=INTEGER}
    </select>
    <select id="selectByActivityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SUN_DIVISION
        where ACTIVITY_ID = #{activityId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from SUN_DIVISION
        where DIVISION_ID in
        <foreach collection="array" item="divisionId" open="(" separator="," close=")">
            #{divisionId}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="DIVISION_ID" keyProperty="divisionId"
            parameterType="cn.sunhomo.club.domain.SunDivision" useGeneratedKeys="true">
    insert into SUN_DIVISION (ACTIVITY_ID, DIVISION_NAME, LEADER, LEADER_NAME, `RANK`)
    values (#{activityId,jdbcType=INTEGER}, #{divisionName,jdbcType=VARCHAR}, #{leader,jdbcType=INTEGER}, #{leaderName,jdbcType=VARCHAR}, #{rank,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" keyColumn="DIVISION_ID" keyProperty="divisionId"
            parameterType="cn.sunhomo.club.domain.SunDivision" useGeneratedKeys="true">
        insert into SUN_DIVISION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">
                ACTIVITY_ID,
            </if>
            <if test="divisionName != null">
                DIVISION_NAME,
            </if>
            <if test="leader != null">
                LEADER,
            </if>
            <if test="leaderName != null">
                LEADER_NAME,
            </if>
            <if test="rank != null">
                `RANK`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">
                #{activityId,jdbcType=INTEGER},
            </if>
            <if test="divisionName != null">
                #{divisionName,jdbcType=VARCHAR},
            </if>
            <if test="leader != null">
                #{leader,jdbcType=INTEGER},
            </if>
            <if test="leaderName != null">
                #{leaderName,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.sunhomo.club.domain.SunDivision">
        update SUN_DIVISION
        <set>
            <if test="activityId != null">
                ACTIVITY_ID = #{activityId,jdbcType=INTEGER},
            </if>
            <if test="divisionName != null">
                DIVISION_NAME = #{divisionName,jdbcType=VARCHAR},
            </if>
            <if test="leader != null">
                LEADER = #{leader,jdbcType=INTEGER},
            </if>
            <if test="leaderName != null">
                LEADER_NAME = #{leaderName,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                `RANK` = #{rank,jdbcType=TINYINT},
            </if>
        </set>
        where DIVISION_ID = #{divisionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.sunhomo.club.domain.SunDivision">
    update SUN_DIVISION
    set ACTIVITY_ID = #{activityId,jdbcType=INTEGER},
      DIVISION_NAME = #{divisionName,jdbcType=VARCHAR},
      LEADER = #{leader,jdbcType=INTEGER},
      LEADER_NAME = #{leaderName,jdbcType=INTEGER},
      `RANK` = #{rank,jdbcType=TINYINT}
    where DIVISION_ID = #{divisionId,jdbcType=INTEGER}
  </update>
    <insert id="insertMemberToDivision">
        insert into SUN_MEMBER_TO_DIVISION values(#{memberId,jdbcType=INTEGER},#{divisionId,jdbcType=INTEGER})
    </insert>
</mapper>